.plansUpadate {
  background: linear-gradient(0.25turn, #00081c, #1a2133, #262d3e);
}

.plansUpadate h1 {
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.planoGuardianZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #fffff0;
  border-radius: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.titulo-guardian {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    0.25turn,
    rgba(255, 255, 240, 0.588),
    rgba(255, 255, 240, 0.588)
  );
  border-radius: 15px;
  height: 70px;
}

.titulo-guardian h3 {
  color: #fffff0;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.titulo-guardian p {
  color: #fffff0;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.planoGuardianZone ul li {
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.planoGuardianZone ul {
  margin-top: 20px;
  margin-bottom: 30px;
  list-style: none;
}

.btn-guardian button {
  background: linear-gradient(
    0.25turn,
    rgba(255, 255, 240),
    rgba(255, 255, 240)
  );
  border: none;
  border-radius: 15px;
  height: 70px;
  width: 100%;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  cursor: pointer;
}

.btn-guardian button:hover {
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  color: #ffffff;
}

/*Tablets*/

/*por enquanto não é necessário

@media screen and (max-width: 1024px) {
}

*/

/*Celulares*/
@media screen and (max-width: 470px) {
  .plansUpadate h1 {
    font-size: 28px;
  }

  .planoGuardianZone {
    border: 3px solid #fffff0;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 10px;
    height: 100%;
    width: 250px;
  }

  .titulo-guardian h3 {
    color: #fffff0;
    font-family: "Kameron", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }

  .titulo-guardian p {
    color: #fffff0;
    font-family: "Kameron", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  .planoGuardianZone ul li {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-guardian button {
    background: linear-gradient(
      0.25turn,
      rgba(255, 255, 240),
      rgba(255, 255, 240)
    );
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    font-family: "Kameron", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
  }
}
