.plans {
  background: linear-gradient(0.25turn, #00081c, #1a2133, #262d3e);
}

.plans h1 {
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.grid-plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "essencial premium elite";
  column-gap: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/* PLANO ESSENCIAL */
.planoEssencialZone {
  grid-area: essencial;
  border: 3px solid rgb(255, 143, 15);
  border-radius: 20px;
}

.titulo-essencial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    0.25turn,
    rgb(255, 143, 15, 0.666),
    rgb(255, 179, 93, 0.666)
  );
  border-radius: 15px;
  height: 70px;
}

.titulo-essencial h3 {
  color: rgb(255, 191, 117);
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.titulo-essencial p {
  color: rgb(255, 191, 117);
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.planoEssencialZone ul li {
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.planoEssencialZone ul {
  margin-top: 20px;
  margin-bottom: 30px;
  list-style: none;
}

.negrito-essential {
  color: rgb(255, 143, 15);
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.btn-essecial button {
  color: #000;
  background: linear-gradient(0.25turn, rgb(255, 143, 15), rgb(255, 179, 93));
  border: none;
  border-radius: 15px;
  height: 70px;
  width: 100%;
  margin-top: 23px;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  cursor: pointer;
}

.btn-essecial button:hover {
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  color: rgb(255, 143, 15);
}

/* PLANO PREMIUM */
.planoPremiumZone {
  grid-area: premium;
  border: 3px solid #1e90ff;
  border-radius: 20px;
}

.titulo-premium {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    0.25turn,
    rgba(30, 144, 255, 0.588),
    rgba(115, 185, 255, 0.588)
  );
  border-radius: 15px;
  height: 70px;
}

.titulo-premium h3 {
  color: #86c2ff;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.titulo-premium p {
  color: #86c2ff;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.planoPremiumZone ul li {
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.planoPremiumZone ul {
  margin-top: 20px;
  margin-bottom: 30px;
  list-style: none;
}

.negrito-premium {
  color: #1e90ff;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.btn-premium button {
  color: #000;
  background: linear-gradient(
    0.25turn,
    rgba(30, 144, 255),
    rgba(115, 185, 255)
  );
  border: none;
  border-radius: 15px;
  height: 70px;
  width: 100%;
  margin-top: 23px;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  cursor: pointer;
}

.btn-premium button:hover {
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  color: #1e90ff;
}

/* PLANO ELITE */
.planoEliteZone {
  grid-area: elite;
  border: 3px solid #9400d3;
  border-radius: 20px;
  height: 100%;
}

.titulo-elite {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    0.25turn,
    rgba(148, 0, 211, 0.588),
    rgba(221, 143, 255, 0.588)
  );
  border-radius: 15px;
  height: 70px;
}

.titulo-elite h3 {
  color: #df93ff;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.titulo-elite p {
  color: #df93ff;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.planoEliteZone ul li {
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.planoEliteZone ul {
  margin-top: 20px;
  margin-bottom: 30px;
  list-style: none;
}

.negrito-elite {
  color: #9400d3;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.btn-elite button {
  color: #000;
  background: linear-gradient(0.25turn, rgba(148, 0, 211), rgba(221, 143, 255));
  border: none;
  border-radius: 15px;
  height: 70px;
  width: 100%;
  font-family: "Kameron", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  cursor: pointer;
}

.btn-elite button:hover {
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  color: #9400d3;
}

/*Tablets*/
@media screen and (max-width: 1024px) {
  .grid-plans {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "essencial premium "
      "elite elite";
    column-gap: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .planoEliteZone {
    margin-top: 45px;
    height: 464px;
  }

  .planoEssencialZone {
    height: 100%;
  }

  .btn-essecial button {
    height: 92px;
  }

  .planoPremiumZone {
    height: 100%;
  }

  .btn-premium button {
    height: 92px;
  }
}

/*Celulares*/
@media screen and (max-width: 470px) {
  .grid-plans {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "essencial premium elite";
    column-gap: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: scroll;
  }

  .plans h1 {
    font-size: 30px;
  }

  /* PLANO ESSENCIAL */
  .planoEssencialZone {
    grid-area: essencial;
    border: 3px solid rgb(255, 143, 15);
    border-radius: 20px;
    height: 100%;
    width: 250px;
  }

  .titulo-essencial h3 {
    font-size: 16px;
  }

  .titulo-essencial p {
    font-size: 18px;
  }

  .planoEssencialZone ul li {
    font-size: 12px;
  }

  .negrito-essential {
    font-size: 16px;
  }

  .btn-essecial button {
    color: #000;
    background: linear-gradient(0.25turn, rgb(255, 143, 15), rgb(255, 179, 93));
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    margin-top: 23px;
    font-family: "Kameron", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
  }

  .btn-essecial button:hover {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    color: rgb(255, 143, 15);
  }

  /* PLANO PREMIUM */
  .planoPremiumZone {
    grid-area: premium;
    border: 3px solid #1e90ff;
    border-radius: 20px;
    height: 100%;
    width: 250px;
  }

  .titulo-premium h3 {
    font-size: 16px;
  }

  .titulo-premium p {
    font-size: 18px;
  }

  .planoPremiumZone ul li {
    font-size: 12px;
  }

  .negrito-premium {
    color: #1e90ff;
    font-family: "Kameron", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }

  .btn-premium button {
    color: #000;
    background: linear-gradient(
      0.25turn,
      rgba(30, 144, 255),
      rgba(115, 185, 255)
    );
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    margin-top: 23px;
    font-family: "Kameron", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
  }

  .btn-premium button:hover {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    color: #1e90ff;
  }

  /* PLANO ELITE */
  .planoEliteZone {
    grid-area: elite;
    border: 3px solid #9400d3;
    border-radius: 20px;
    height: 100%;
    width: 250px;
    margin-top: 0px;
  }

  .titulo-elite h3 {
    font-size: 16px;
  }

  .titulo-elite p {
    font-size: 18px;
  }

  .planoEliteZone ul li {
    font-size: 12px;
    padding-bottom: 1.5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .negrito-elite {
    font-size: 16px;
  }

  .btn-elite button {
    color: #000;
    background: linear-gradient(
      0.25turn,
      rgba(148, 0, 211),
      rgba(221, 143, 255)
    );
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    font-family: "Kameron", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
  }

  .btn-elite button:hover {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    color: #9400d3;
  }
}
